{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Template Polo, html template">
    <link rel="icon" type="image/png" href="{% static 'images/LOGO-ASLI.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ثبت نام در Bamaitc</title>

    <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/rtl.css' %}" rel="stylesheet">
</head>

<body>

    <div class="body-inner">

        <section class="fullscreen" data-bg-parallax="{% static 'images/pages/1.jpg' %}">
            <div class="container">
                <div>
                    <div class="text-center m-b-30">
                        <a href="{% url 'landing-home' %}" class="logo">
                            <h3 style='color:white;'>Bamaitc</h3>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 center p-50 background-white b-r-6">
                            <h3>ثبت نام حساب کاربری جدید</h3>
                            <form method="POST">{% csrf_token %}
                                <div class="form-group">
                                    <label class="sr-only">نام کاربری</label>
                                    {{ form.username|attr:"placeholder:نام کاربری"|attr:"class:form-control" }}
                                </div>
                                <div class="form-group m-b-5">
                                    <label class="sr-only">شماره همراه</label>
                                    {{ form.phone|attr:"placeholder:شماره همراه (9xxxxxxxxx)"|attr:"class:form-control" }}
                                </div>
                                <div class="form-group m-b-5">
                                    <label class="sr-only">ایمیل</label>
                                    {{ form.email|attr:"placeholder:ایمیل"|attr:"class:form-control" }}
                                </div>
                                <div class="form-group m-b-5">
                                    <label class="sr-only">رمز عبور</label>
                                    {{ form.password1|attr:"placeholder:رمز عبور"|attr:"class:form-control"|attr:"type:password"}}
                                </div>
                                <div class="form-group m-b-5">
                                    <label class="sr-only">تکرار رمز عبور</label>
                                    {{ form.password2|attr:"placeholder:تکرار رمز عبور"|attr:"class:form-control"|attr:"type:password"}}
                                </div>
                                <div class="text-left form-group">
                                    <button type="submit" class="btn">ثبت نام حساب جدید </button>
                                </div>
                            </form>
                            <p class="small">قبلا ثبت نام کرده اید؟ <a href="{% url 'login-not-auth' %}">وارد شوید</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-switch/bootstrap-switch.min.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

{% include "messages.html" %}

</html>